<div class="container">
  <h5 class="text-center">I'm home!</h5>
  <p>This is a page which will authenticate you and once authenticated, you will get authorization to access Forms.</p>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">Added nav-bar and angular routing
      <i class="fas fa-check"></i>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">Added Authentication
      <i class="fa fa-check"></i>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">Added spinner to show loading
      <i class="fa fa-check"></i>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">Created Template-driven form
      <i class="fa fa-check"></i>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">And form having reactive approach
      <i class="fa fa-check"></i>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">Added canActivate guard
      <i class="fa fa-times"></i>
    </li>
  </ul>
</div>